<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div id="ext-megabonus-main-content" class="ext-megabonus-top-line"><div class="ext-megabonus__container"><div class="ext-megabonus__container-content"><div id="notice-wrapper" class=""></div></div></div></div>

<main class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Subscription</h1>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 fw-normal">Basic</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$5 <small class="text-muted">/ mo</small></h1>
                    <form action="/payment_form" method="get">
                        <label hidden for="item_id_1">First name:</label>
                        <input hidden type="text" id="item_id_1" name="item_id" value="1"><br><br>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Buy</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 fw-normal">Pro</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
                    <form action="/payment_form" method="get">
                        <label hidden for="item_id_2">First name:</label>
                        <input hidden type="text" id="item_id_2" name="item_id" value="2"><br><br>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Buy</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 fw-normal">Enterprise</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$30 <small class="text-muted">/ mo</small></h1>
                    <form action="/payment_form" method="get">
                        <label hidden for="item_id_3">First name:</label>
                        <input hidden type="text" id="item_id_3" name="item_id" value="3"><br><br>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Buy</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>